LoRaWAN/lorawan_a/flows.json
[
    {
        "id": "34bdcc888c840ad7",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7db8f5c81fd4cc08",
        "type": "mqtt in",
        "z": "34bdcc888c840ad7",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7bb39ca92f01fe6b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "f35e47283b949566",
                "7e49463beebced90"
            ]
        ]
    },
    {
        "id": "f35e47283b949566",
        "type": "function",
        "z": "34bdcc888c840ad7",
        "name": "function 1",
        "func": "try{\n    msg.payload = msg.payload.uplink_message.decoded_payload.GroupA.DeviceA.Temperature;\n}\ncatch(error){\n    msg.payload = \"failed to parse\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "a70eb50f4c3ce1a4",
                "9cde6dbadc2be31d"
            ]
        ]
    },
    {
        "id": "a70eb50f4c3ce1a4",
        "type": "debug",
        "z": "34bdcc888c840ad7",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "7e49463beebced90",
        "type": "debug",
        "z": "34bdcc888c840ad7",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "9cde6dbadc2be31d",
        "type": "ui_chart",
        "z": "34bdcc888c840ad7",
        "name": "Temperature",
        "group": "b8829744217781ab",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "-20",
        "ymax": "50",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "7bb39ca92f01fe6b",
        "type": "mqtt-broker",
        "name": "Mosquitto Test",
        "broker": "nam1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b8829744217781ab",
        "type": "ui_group",
        "name": "Default",
        "tab": "f2d8e0e7919bf78e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2d8e0e7919bf78e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]